extends ../includes/defaultBody

block content
  .row
    .col-md-12
      .card
        .card-header
          h4.card-title=cardHeader
        .card-body
          .text-right.mb-4
            if targetData && targetData.id && targetData.id != ""
              button.ml-4.btn.btn-sm.btn-outline-danger.btn-round.float-left(type='button',onclick=`Dynajax('bolgeler','f',formBasarili,false,{id:${targetData.id},method:'delete'},true)`) 
                i.ti-check-box.mr-1    
                =l.getLanguage("sil")    
            a(href='table')
              button.ml-4.btn.btn-sm.btn-info.btn-outline-primary.btn-round(type='button') 
                i.ti-direction.mr-1  
                =l.getLanguage("vazgec") 
          .row
            .col-md-6
              .form-group.has-label
                label
                  =l.getLanguage("bolgeAdi")
                input.form-control(ajax-key="f",name='bolgeAdi', type='text' ,enforced,max="100",value=targetData.bolgeAdi)
            .col-md-6
              .form-group.has-label
                label
                  =l.getLanguage("sorumluId")
                select.custom-select(ajax-key="f",enforced,name="sorumluId",placeholder=l.getLanguage("seciniz"))
                  option(value='',selected)=l.getLanguage("seciniz")
                    each val in kullanicilar
                        option(value=val.id, selected =  targetData.sorumluId==val.id?true:false) 
                            =val.kullaniciIsim+" "+val.kullaniciSoyisim
            .col-md-12
              .form-group.has-label
                label
                  =l.getLanguage("bolgelerAciklama")
                textarea.form-control.textarea(ajax-key="f",name="bolgelerAciklama",rows='4' cols='80',max="200")=targetData.bolgelerAciklama 
          .text-right.mb-4
            button.ml-4.btn.btn-sm.btn-success.btn-outline-success.btn-round(type='button',onclick=`Dynajax('bolgeler','f',formBasarili,true,{id:${targetData && targetData.id?targetData.id:null},method:'${targetData && targetData.id?'update':'create'}'})`) 
              i.ti-check-box.mr-1  
              =l.getLanguage("kaydet")       