extends ../includes/defaultBody

block content
  .row
    .col-md-12
      .card
        .card-header
          h4.card-title=cardHeader
        .card-body
          .text-right.mb-4
            if targetData && targetData.id && targetData.id != ""
              button.ml-4.btn.btn-sm.btn-outline-danger.btn-round.float-left(type='button',onclick=`Dynajax('urunler','f',formBasarili,false,{id:${targetData.id},method:'delete'},true)`) 
                i.ti-check-box.mr-1    
                =l.getLanguage("sil")    
            a(href='table')
              button.ml-4.btn.btn-sm.btn-info.btn-outline-primary.btn-round(type='button') 
                i.ti-direction.mr-1  
                =l.getLanguage("vazgec") 
          .row
            .col-md-4
              .card-user.text-center
                input.form-control(hidden,ajax-key="f",name='urunFoto',type='file',max="200",accept="image/gif, image/jpeg, image/png",display-target="1")    
                a(href='#',fire-target="[name='urunFoto']")
                  img.avatar.border-gray(src='/public/firmaImages/'+ (targetData.urunFoto || 'image_placeholder.jpg') alt='...' display-id="1")
                  h5.title=l.getLanguage("urunFoto") 
            .col-md-8
              .row
                .col-md-12
                  .form-group.has-label
                    label
                      =l.getLanguage("urunAdi")
                    input.form-control(ajax-key="f",name='urunAdi',enforced,max=200, type='text',value=targetData.urunAdi)
                .col-md-12
                  .form-group.has-label
                    label
                      =l.getLanguage("urunKodu")
                    input.form-control(ajax-key="f",name='urunKodu',enforced,max=45, type='text',value=targetData.urunKodu)
                .col-md-12
                  .form-group.has-label
                    label
                      =l.getLanguage("altKategoriId")
                    select.custom-select(ajax-key="f",enforced,name="altKategoriId")
                      option(value='',selected)=l.getLanguage("seciniz")
                        each val in altKategoriler
                            option(value=val.id,selected=val.id==targetData.altKategoriId?true:false) 
                                =val.altKategoriAdi
            .col-md-12
              .form-group
                label=l.getLanguage("urunAciklama")
                textarea.form-control.textarea(ajax-key="f",name="urunAciklama",rows='4' cols='80',max="200")=targetData.urunAciklama
            .col-md-2    
              input.form-control(hidden,default-value=targetData.urunDosyalar,ajax-key="f",name='urunDosyalar',type='file',max="200",multiple,accept="application/pdf")   
              button.mt-4.btn.btn-sm.btn-info.btn-outline-info.btn-round(type='button',fire-target="[name='urunDosyalar']")
                i.ti-import.mr-1  
                =l.getLanguage("pdfyukle")
            .col-md-6
              .form-group
                label=l.getLanguage("yuklenendosyalar")
              ul#resultPdf 
          .text-right.mb-4
            button.ml-4.btn.btn-sm.btn-success.btn-outline-success.btn-round(type='button',onclick=`Dynajax('urunler','f',formBasarili,true,{id:${targetData && targetData.id?targetData.id:null},method:'${targetData && targetData.id?'update':'create'}'})`) 
              i.ti-check-box.mr-1  
              =l.getLanguage("kaydet")
  script.
    function initPdfData(data,target,append=false){
      var item="";
      if(!data || data==""){
        return;
      }
      data.map((x,i)=>{
        item+=`
              <li>
                <div class="btn ${x.pathName ?"btn-outline-success":"btn-outline-warning" }" >
                  <a  target="${x.pathName ? `_blank` : "" }" ${x.pathName ? `disabled` : "" } href="${x.pathName ? `/public/firmaPdfs/${x.pathName}` : "#" }" >
                    ${x.fileName || x.name}
                  </a>
                  ${x.pathName ?`<div class=" pdfMiniButton btn btn-sm btn-outline-danger" method="remove" >
                      <i class="nc-icon nc-simple-remove"></i>
                    </div>`:`<div class=" pdfMiniButton btn btn-sm btn-outline-warning"  >
                      <i class="nc-icon nc-alert-circle-i"></i>
                    </div>`}
                </div>
              </li>
              `;
      });
      if(append){
        $(target).append(item);
      }else{
        $("#resultPdf a.btn-outline-warning>.pdfMiniButton[method='remove']").each(function(e){
          removeTarget($(this).parent().parent());
        });
        $(target).append(item);
      }
      
    }
    function removeTarget(target){
      var _deleteIndex=$(target).index();
      var _target=$("[name='urunDosyalar']");
      var _targetData=JSON.parse($(_target).attr("default-value"));
      var _result=_targetData.filter((x,i)=> { 
        if(i!=_deleteIndex) {
          return true;
        }
        else{
          return false;
        }
      });
      $(_target).attr("default-value",JSON.stringify(_result));
      $(target).remove();  
    }
    function specialPageScript(){
      initPdfData(!{ targetData.urunDosyalar },"#resultPdf",true)
      $("#resultPdf").delegate("[method]","click",function(e){
        var _method=$(this).attr("method");
        var _this=this;
        if(_method=="remove"){
          $.confirm({
            content: "",
            theme: 'material',
            type: 'red',
            title: "#{l && l.getLanguage('eminmisiniz')}",
            buttons: {
              confirm: {
                btnClass: 'btn-red',
                text: 'Evet',
                action: function () {
                  removeTarget($(_this).parent().parent());
                }
              },
              cancel: {
                btnClass: 'btn-default',
                text: 'Hayır',
                action: function () {}
              }
            }
        });
        }
      });
      $("[name='urunDosyalar']").change(function(){
        var tmpData=$(this).get(0).files;
        initPdfData(Object.keys(tmpData).map(x=>tmpData[x]),"#resultPdf")
      });

    }
    
    