extends ../includes/defaultBody

block content
  .row
    .col-md-12
      .card
        .card-header
          h4.card-title=cardHeader
        .card-body
          .text-right.mb-4
            if targetData && targetData.id && targetData.id != ""
              button.ml-4.btn.btn-sm.btn-outline-danger.btn-round.float-left(type='button',onclick=`Dynajax('carihareketleri','f',formBasarili,false,{id:${targetData.id},method:'delete'},true)`) 
                i.ti-check-box.mr-1    
                =l.getLanguage("sil")    
            a(href='table')
              button.ml-4.btn.btn-sm.btn-info.btn-outline-primary.btn-round(type='button') 
                i.ti-direction.mr-1  
                =l.getLanguage("vazgec") 
          .row
            .col-md-6
              .form-group.has-label
                label
                  =l.getLanguage("cariId")
                #select2.select2(ajax-key="f",enforced,name="cariId",value=targetData.cariId)
            .col-md-6
              .form-group.has-label
                label
                  =l.getLanguage("belgeTipId")
                select.custom-select(ajax-key="f",enforced,name="belgeTipId")
                  option(value='',selected)=l.getLanguage("seciniz")
                    each val in belgeTipleri
                        option(value=val.id,selected=val.id==targetData.belgeTipId?true:false) 
                            =val.belgeTipAdi
            .col-md-6
              .form-group.has-label
                label
                  =l.getLanguage("belgeNo")
                input.form-control(ajax-key="f",name='belgeNo', type='number' ,max="11",enforced,value=targetData.belgeNo)
            .col-md-6
              .form-group.has-label
                label
                  =l.getLanguage("belgeTarihi")
                input.form-control(ajax-key="f",name='belgeTarihi', type='date' ,enforced,value=targetData.belgeTarihi)
            .col-md-6
              .form-group.has-label
                label
                  =l.getLanguage("a")
                input.form-control(ajax-key="f",name='a', type='number',step="0.01" ,max="12",value=targetData.a)
            .col-md-6
              .form-group.has-label
                label
                  =l.getLanguage("b")
                input.form-control(ajax-key="f",name='b', type='number',step="0.01" ,max="12",value=targetData.b)
          .text-right.mb-4
            button.ml-4.btn.btn-sm.btn-success.btn-outline-success.btn-round(type='button',onclick=`Dynajax('carihareketleri','f',formBasarili,true,{id:${targetData && targetData.id?targetData.id:null},method:'${targetData && targetData.id?'update':'create'}'})`) 
              i.ti-check-box.mr-1  
              =l.getLanguage("kaydet")
  script.
    function formatResult(result) {
        var markup = `<div class="row">
          <div class="col-md-2">
            <img style="width:83px;height:83px" src="/public/firmaImages/${result.cariLogo || 'image_placeholder.jpg' }" />
          </div>
          <div class="col-md-10 p-3" >
            <div class="row">
              <div class="col-md-3"> ${result.cariAdi} </div>
              <div class="col-md-3"> ${result.cariYetkiliKisiAdi} ${result.cariYetkiliKisiSoyadi}</div>
              <div class="col-md-3"> ${result.cariAdi} </div>
            </div>
          </div>`;
        return markup;
    }

    function formatSelection(result) {
        return result.cariAdi;
    }
    function initSelect(){
      if($("#select2").length==0){
          return;
        }
        var selectInitValue=$("[name='cariId']").attr("value");
        $("#select2").select2({
          matcher: function(term, text, opt) {
            return opt.cariAdi.toUpperCase().indexOf(term.toUpperCase())>=0
                || opt.cariYetkiliKisiAdi.toUpperCase().indexOf(term.toUpperCase())>=0
                || opt.cariYetkiliKisiSoyadi.toUpperCase().indexOf(term.toUpperCase())>=0
                || opt.cariAciklama.toUpperCase().indexOf(term.toUpperCase())>=0;
          },
          data:!{cariler},
          formatResult: formatResult,  
          formatSelection: formatSelection,   
          dropdownCssClass: "bigdrop",  
          escapeMarkup: function (m) { return m; }  
        });
        
        $("[name='cariId']").select2("val", selectInitValue);
    }
                     